[submodule "musl-libc"]
	path = lib/musl
	url = git://git.musl-libc.org/musl
[submodule "boost-cpp-netlib"]
	path = lib/cpp-netlib
	url = https://github.com/cpp-netlib/cpp-netlib
[submodule "doc-linux-insides-0xax"]
	path = docs/linux-insides-0xax
	url = git@github.com:0xAX/linux-insides.git
[submodule "nnen-doxygen-theme"]
	path = docs/nnen-doxygen-theme
	url = https://github.com/nnen/doxygen-theme.git
[submodule "dvdhrm-drm-howto"]
	path = docs/dvdhrm-drm-howto
	url = git@github.com:dvdhrm/docs.git
[submodule "lmdb"]
	path = lib/lmdb
	url = git@github.com:LMDB/lmdb.git
	branch = mdb.master
[submodule "libpqxx"]
	path = lib/libpqxx
	url = git@github.com:jtv/libpqxx.git
[submodule "glfw"]
	path = lib/glfw
	url = git@github.com:glfw/glfw.git
